body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "Marcellus", serif;
}



a {
  position: relative;
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5px;
  width: 0%;
  background-color: white;
  transition: width 0.5s ease;
}

a:hover::after {
  width: 100%;
}

.disabled-link {
  pointer-events: none;
  color: gray;
  text-decoration: none;
  cursor: default;
}


.title {
  font-size: 50px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.title::after {
  content: '';
  width: 70px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.cta-contact {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-contact .i {
  font-size: 30px;
}

.cta-contact.active {
  background-color: transparent;
}

.cta-contact.active .i {
  color: black;
  font-size: 40px;
}


.herosection {
  width: 100%;
  min-height: 800px;
  background: url(/images/bg.jpg) center/cover no-repeat;
}


nav {
  width: 100%;
  padding-top: 20px;
  z-index: 2000;
  transition: all 0.2s ease-in;
  position: absolute;
}

nav .container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}


nav .logo p {
  color: white;
  font-size: 32px;
  font-weight: 600;
}

nav .logo p span {
  color: white;
  text-transform: uppercase;
}



nav .link ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 30px;
}

nav .link ul a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;
  transition: all 0.7s ease;
}

nav .link ul a:hover {
  color: white;
}

nav .btn-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav .btn-menu {
  display: none;
}

nav .btn-contact a {
  display: inline-block;
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 15px;
  border: 1px solid rgb(255, 255, 255, 0.7);
  border-radius: 2px;
}

nav .btn-contact a::after {
  content: '';
  width: 0px;
}


.herosection::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  min-height: 800px;
  background: rgb(0, 0, 0, 0.2);
}

.herosection .container {
  width: 85%;
  margin: auto;
}

.herosection .container_hero-section {
  padding-top: 250px;
}

.herosection .container_hero-section h1 {
  color: white;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
}

.herosection .container_hero-section p {
  color: white;
  font-size: 24px;
  font-family: "Marcellus", serif;
}

.herosection .container_hero-section p span {
  color: white;
}

.herosection .container_hero-section .cta {
  max-width: 30%;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.herosection .container_hero-section .cta a{
  font-size: 25px;
}

.herosection .container_hero-section .cta:hover a {
  color: white;
}

.herosection .container_hero-section .cta:hover .icon {
  color: white;
}

.herosection .container_hero-section .cta .icon {
  color: white;
  font-size: 25px;
}

.herosection .container_hero-section .reseaux {
  display: flex;
  gap: 10px;
  transform: rotate(-90deg);
  position: absolute;
  top: 350px;
  right: 0px;
}

.herosection .container_hero-section .reseaux a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 16px;
  z-index: 0;
}

.herosection .container_hero-section .reseaux a:hover {
  color: white;
}

/* Nombre de projets */

.nbr-projets {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  margin-top: -20px;
}

.nbr-projets div {
  width: 300px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  z-index: 1000;
}

.nbr-projets div:hover {
  border: 3px solid white;
  transform: scale(1.1);
}

.nbr-projets div .nbr {
  color: white;
  font-size: 40px;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: 600;
}

.nbr-projets div .plus {
  color: white;
  font-size: 25px;
}






/* services */

.services {
  padding-top: 100px;
}

.services .container {
  width: 85%;
  margin: auto;
}

.services .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 50px;
}

.services .cards .card {
  width: 30%;
  min-height: 350px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(128, 128, 128, 0.1);
  box-sizing: border-box;
  padding: 30px;
  transition: all 0.2s ease-in;
  border: 2px solid black;
}

.services .cards .card .i {
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
  color: white;
  background-color: black;
}

.services .cards .card h4 {
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 26px;
  font-weight: 700;
}

.services .cards .card p {
  font-size: 17px;
  letter-spacing: -0.34px;
  line-height: 24px;
  font-weight: 200;
}

.services .cards .card:hover {
  background-color: rgb(128, 128, 128, 0.2);
}

/* about */

.about {
  padding-top: 100px;
}

.about .container {
  width: 85%;
  margin: auto;
}

.about .container .presentation {
  display: flex;
  justify-content: space-between;
}

.about .container img {
  width: 45%;
  height: 100%;
  border-radius: 15px;
  filter: grayscale(100%);
}

.about .container .txt {
  width: 55%;
}

.about .container .txt p {
  font-size: 21.5px;
  line-height: 34px;
  font-weight: 200;
}

.about .container .txt p span {
  font-weight: 500;
}


.about .container .txt .btn-contact {
  margin-top: 20px;
}

.about .container .txt .btn-contact a {
  color: black;
  display: inline-block;
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0, 0.7);
  border-radius: 2px;
  margin-top: 50px;
}

.about .container .txt a::after {
  content: '';
  width: 0px;
}




/* portfolio */

.portfolio {
  padding-top: 100px;
}

.portfolio .container {
  width: 85%;
  margin: auto;
}

.portfolio .container .presentation {
  display: flex;
  justify-content: space-between;
}

.portfolio .container .presentation .container-btn-filters {
  width: 100%;
  display: flex;
  justify-content: right;
}

.portfolio .container .presentation .filters {
  background-color: transparent;
  display: flex;
}

.portfolio .container .presentation .filters button {
  width: 100px;
  height: 40px;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  background-color: rgb(128, 128, 128, 0.2);
}

.portfolio .filters button.mixitup-control-active {
  background-color: black !important;
  color: white;
}

.portfolio .container-projects {
  display: flex;
  gap: 16px;
  padding-top: 50px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.portfolio .container-projects .projet {
  width: 30%;
  min-height: 350px;
  border: 1px solid black;
  padding-bottom: 20px;
  padding: 15px;
  border-radius: 12px;
  background-color: rgb(128, 128, 128, 0.1);
}

.portfolio .container-projects .projet .header {
  display: flex;
  gap: 5px;
  padding-bottom: 20px;
}

.portfolio .container-projects .projet .browser {
  border-radius: 50%;
  padding: 5px;
}

.portfolio .container-projects .projet .browser.browser1 {
  background: #ff5f56;
}

.portfolio .container-projects .projet .browser.browser2 {
  background: #ffbd2e;
}

.portfolio .container-projects .projet .browser.browser3 {
  background: #27c93f;
}

.portfolio .container-projects .projet img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.portfolio .container-projects .projet .projet-name {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio .container-projects .projet .projet-name h2 {
  margin: 0;
  font-size: 22px;
  color: black;
}

.portfolio .container-projects .projet .projet-name a:hover .icon {
  transform: rotate(-45deg);
}

.portfolio .container-projects .projet .projet-name .icon {
  font-size: 25px;
  border: 1px solid black;
  padding: 7px;
  border-radius: 50%;
  color: black;
  transition: all 0.5s ease;
}


/* Stacks */


.stacks {
  padding: 100px 0px;
}

.stacks .container {
  width: 85%;
  margin: auto;
}

.stacks .container .stacks-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0px;
}

.tech-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 24px 16px;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 200px;
  background-color: rgb(128, 128, 128, 0.1);
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
}

.tech-card:hover {
  background-color: rgb(128, 128, 128, 0.2);
}

.tech-icon {
  font-size: 3rem;
  transition: transform 0.3s ease;
}



/* Couleurs spécifiques pour chaque technologie */
.tech-icon.react {
  color: #61dafb;
}

.tech-icon.vite {
  color: #646cff;
}

.tech-icon.node {
  color: #339933;
}

.tech-icon.html {
  color: #e34f26;
}

.tech-icon.js {
  color: #f7df1e;
}

.tech-icon.css {
  color: #1572b6;
}

.tech-icon.php {
  color: #777bb4;
}

.tech-icon.expo {
  color: #000020;
}

.tech-icon.mysql {
  color: #4479a1;
}

.tech-name {
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
}



footer {
  padding-top: 50px;
  padding-bottom: 10px;
}

footer .container {
  width: 85%;
  margin: auto;
}

footer .container .line {
  width: 100%;
  height: 2px;
  background-color: black;
}

footer .container .footer-bottom {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container .footer-bottom a {
  color: black;
}

footer .footer-bottom .icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

footer .footer-bottom .icon .i {
  font-size: 20px;
  color: black;
  opacity: 0.9;
}

footer .copyright p {
  text-align: center;
}



.cta-bottom {
  width: 85%;
  margin: auto;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url(/images/cta.jpg) center/cover no-repeat;
  position: relative;
  filter: grayscale(100%);
}

.cta-bottom::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 500px;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

.cta-bottom h2 {
  font-size: 70px;
  letter-spacing: -1.4px;
  line-height: 80px;
  text-align: center;
  margin: 0;
  color: white;
  z-index: 2;
  font-weight: 400;
}

.cta-bottom p {
  font-size: 30px;
  text-align: center;
  margin: 0;
  color: white;
  z-index: 2;
  font-weight: 200;
  letter-spacing: -1.2px;
  line-height: 40px;
  margin-top: 10px;
}

.br-cta {
  display: none;
}

.cta-bottom a {
  color: white;
  display: inline-block;
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 2px;
  margin-top: 50px;
  z-index: 2;
  font-size: 20px;
  letter-spacing: -0.8px;
}

.cta-bottom a:hover::after {
  width: 0%;
}